<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">IscoDisco22</span>, an Oncology Pharmacist in rural Ontario hospital - seeking to leverage technological to fill gaps between data-science, back-end development &amp; clinical practice.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:yizhousitu@hotmail.com" target="_blank" class="highlight-link">yizhousitu@hotmail.com</a>
    </span>
  </h3>
</header>
